<h1>Test#index</h1>
<p>Find me in app/views/test/index.html.erb</p>

<%= link_to "POST", new_invoice_path %>
<%= link_to "POST FULL", invoices_new_full_path %>
<%= link_to "STAMP", edit_invoice_path(11) %>
<%= link_to "CANCELAR", invoice_path(9), method: :delete %>

<p><%= @status %></p>

<hr>

<p><%= @invoice %></p>