<h1>Test#index</h1>
<p>Find me in app/views/test/index.html.erb</p>

<%= link_to "POST", new_invoice_path %>
<%= link_to "STAMP", edit_invoice_path(39) %>
<%= link_to "CANCELAR", invoice_path(43), method: :delete %>

<p><%= @status %></p>

<hr>

<p><%= @invoice %></p>